:root {
    --offColor: rgb(233, 192, 8);
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #e3edf7;
}

#title {
    font-family: 'Cookie', cursive;
    font-size: 90px;
    color: #666666;
    margin-top: 20vh;
    padding: 0%;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}

#overall {
    padding: 0%;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#botao {
    width: 0;
    height: 0;
}

#botao:before {
    content: '\f011';
    font-family: "FontAwesome";
    font-size: 52px;
    /* color: #777; */
    color: var(--offColor);
    height: 160px;
    width: 160px;
    transform: translateX(-80px);
    background: e3edf7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),

        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}


#botao:checked:before {
    color: #4fce5d;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.3),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}